<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="{{ url_for('static',filename='bootstrap.min.css') }}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <!-- added url_for from Flask -->
    <link href="{{ url_for('static',filename='main.css') }}" rel="stylesheet" type="text/css">
    {% if title %}
    <title>Thoughts - {{title}}</title>
    {% else %}
    <title>Thoughts</title>
    {%endif%}
</head>
<body>
<header class="site-header">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <div class="container p-3">
            <a class="navbar-brand mr-4" href="/">Thoughts Today</a>
            <button aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler"
                    data-target="#navbarToggle" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
                    <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if current_user.is_authenticated %}
                    <a class="nav-item nav-link" href="{{ url_for('posts.new_post') }}">New Post</a>
                    <a class="nav-item nav-link" data-toggle="tooltip" href="{{ url_for('users.account') }}"
                       title="{{ current_user.username }}">Account Info</a>
                    <a class="nav-item nav-link" href="{{ url_for('users.logout') }}">Logout</a>
                    {% else %}
                    <a class="nav-item nav-link" href="{{ url_for('users.login') }}">Login</a>
                    <a class="nav-item nav-link" href="{{ url_for('users.register') }}">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <!-- Testing carousel div#demo -->
    <div class="carousel slide" data-ride="carousel" id="demo" style="display: flex; width: 100%;">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#demo"></li>
            <li data-slide-to="1" data-target="#demo"></li>
            <li data-slide-to="2" data-target="#demo"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img alt="Thought 1" src="{{ url_for('static', filename='carousel_pics/ann_landers_1.jpg') }}">
            </div>
            <div class="carousel-item">
                <img alt="Thought 2" src="{{ url_for('static', filename='carousel_pics/samarth_2.jpg') }}">
            </div>
            <div class="carousel-item">
                <img alt="Thought 3" src="{{ url_for('static', filename='carousel_pics/william_wordswoth_1.jpg') }}">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" data-slide="prev" href="#demo">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" data-slide="next" href="#demo">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
    <div class="row">
        <div class="col-md-8">
            {% with messages = get_flashed_messages(with_categories=true)%}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{category}}">
                <b>{{message}}</b>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith%}

            <!-- block is a keyword for defining blocks in a html page-->
            <!-- content is user defined section of a page -->
            {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
            <div class="content-section" data-toggle="tooltip" title="You can put any information here you'd like.">
                <h3>Quick Access Panel</h3>
                <!-- <p class='text-muted'>You can put any information here you'd like. -->
                <p class='text-muted'>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Latest Posts</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">Calendar</li>
                    <li class="list-group-item list-group-item-light">etc</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</main>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        src="{{ url_for('static',filename='jquery-3.3.1.slim.min.js') }}"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="{{ url_for('static',filename='popper.min.js') }}"></script>
<script crossorigin="anonymous"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});


</script>
</body>
</html>
