<!-- From login page -->
{% extends "layout.html"%}
{%block content%}
<div class="content-section">
    <form action="" class="" method="post">
        <!-- form.hidden_tag() is needed for security against of XSS -->
        <!-- This needed to add a CSRF token-->
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb4">{{ title }}</legend>

            <div class="form-group">
                {{form.email.label(class='form-control-label')}}
                {% if form.email.errors %}
                {{ form.email.label(class='form-control-label is-invalid') }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor%}
                </div>
                {% else %}
                {{ form.email(class='form-control form-control-lg') }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{form.submit(class="btn btn-outline-warning")}}
        </div>
    </form>
</div>
{% endblock content %}
